* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f8f9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 920px;
  margin: auto;
}

.text-white {
  color: #fafafa;
}

.mr-8 {
  margin-right: 8px;
}

.navbar {
  background: #ff9800;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu > .menu-item {
  color: #fafafa;
  margin-right: 16px;
}
.navbar-menu > .menu-item:last-child {
  margin-right: 0;
}
